{% load static %}

<!-- Подключение внешнего CSS-файла -->
<link rel="stylesheet" href="{% static 'accounts/css/password_change.css' %}">

<form method="post" class="password-change-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="submit-button">Password Change</button>
</form>

{% if messages %}
<ul class="message-list">
    {% for message in messages %}
    <li class="message-item{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
