{% extends "base.html" %}
{% load static %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'accounts/css/password_reset_complete.css' %}">

<div class="password-reset-complete-container">
    <div class="message-box">
        <h2>Password Reset Complete</h2>
        <p>Your password has been reset successfully. You can now log in with your new password.</p>
        <a href="{% url 'login' %}" class="btn">Log In</a>
    </div>
</div>

{% endblock %}
