{% extends "base.html" %}
{% load static %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}

<!-- Подключение внешнего CSS-файла -->
<link rel="stylesheet" href="{% static 'accounts/css/password_reset_confirm.css' %}">

<div class="auth-container">
    <div class="auth-box">
        <h2>Reset Your Password</h2>
        <p>Please enter your new password below.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Reset Password</button>
        </form>
    </div>
</div>

{% endblock %}
