{% extends "base.html" %}

{% block content %}
  <h1>Редактирование профиля</h1>

  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h2>Редактирование пользователя</h2>
      {{ user_form.as_p }}

      <h2>Редактирование профиля</h2>
      {{ profile_form.as_p }}

      <button type="submit">Сохранить изменения</button>
  </form>

  {% if messages %}
    <div>
      {% for message in messages %}
        <div class="{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}