{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'books/css/about_us.css'%}">
<section class="about-us">
    <div class="container">
        <h1 class="section-title">
            <i class="bi bi-book"></i> About Us
        </h1>

        <p class="about-text">
            <i class="bi bi-book-open"></i> Welcome to Online Book Store! We are passionate about books and dedicated to providing you with the best
            reading experience. Our goal is to offer a wide selection of books that cater to all tastes and interests.
            Whether you're looking for bestsellers, new releases, or classic literature, you'll find it here.
        </p>

        <h2 class="section-subtitle">
            <i class="bi bi-telephone"></i> Contact Us
        </h2>

        <p class="about-text">
            If you have any questions or need assistance, please feel free to reach out to us. We're here to help!
        </p>

        <div class="contact-info">
            <h3 class="contact-title"><i class="bi bi-info-circle"></i> Contact Information</h3>
            <p><i class="bi bi-envelope"></i> Email: <a href="mailto:info@onlinebookstore.com">info@onlinebookstore.com</a></p>
            <p><i class="bi bi-telephone"></i> Phone: <a href="tel:+37493941222">+374 93 94 12 22</a></p>
            <p><i class="bi bi-map"></i> Address: 3 Hakob Hakobyan St, Yerevan 0033</p>
        </div>

        <h2 class="section-subtitle">
            <i class="bi bi-people"></i> Our Team
        </h2>

        <p class="about-text">Meet the people behind Online Book Store:</p>

        <ul class="team-list">
            <li><i class="bi bi-person-badge"></i> <strong>Xcho Miroyan</strong> - brought strong technical expertise, contributing to both the core functionality and the visual elements of the site.</li>
            <li><i class="bi bi-laptop"></i> <strong>Vahan Nahapetyan</strong> - played a key role in shaping the user experience, working on both the design and implementation of important features.</li>
            <li><i class="bi bi-headset"></i> <strong>Artak Hovsepyan</strong> -  added creativity and innovative solutions, contributing to both the design and development of new features.</li>
        </ul>

        <h2 class="section-subtitle">
            <i class="bi bi-share"></i> Follow Us
        </h2>
        <p class="about-text">
            Stay connected with us on social media:
            <a href="#" class="social-icon"><i class="bi bi-facebook"></i></a>
            <a href="#" class="social-icon"><i class="bi bi-twitter"></i></a>
            <a href="#" class="social-icon"><i class="bi bi-instagram"></i></a>
        </p>
    </div>
</section>

{% endblock %}
