{% extends 'base.html' %}

{% block content %}
    <h1>{{ object.first_name }} {{ object.last_name }}</h1>
    <p><strong>Birth Date:</strong> {{ object.birth_date }}</p>
    <p><strong>About:</strong></p>
    <p>{{ object.about }}</p>

    <h2>Книги автора {{ object.first_name }} {{ object.last_name }}</h2>
<ul>
    {% for book in object.books.all %}  {# 'books' — это теперь правильное имя #}
        <li>
            <a href="{% url 'books:book_detail' book.id %}">
                {{ book.title }}
            </a>
        </li>
    {% empty %}
        <li>Книги для этого автора отсутствуют.</li>
    {% endfor %}
</ul>


    <a href="{% url 'books:author_list' %}">Back to Author List</a>
{% endblock %}
