{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'books/css/book_list.css' %}">

<div class="container mt-5">
    <h2 class="text-center" style="color: #8b4513;">Your Bookmarks</h2>
    <div class="row mt-4">
        {% for bookmark in bookmarks %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <i class="bi bi-book-half book-icon"></i> <!-- Book icon -->
                    <h5 class="card-title">{{ bookmark.book.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">by {{ bookmark.book.author }}</h6>
                    <p class="card-text">{{ bookmark.book.description|truncatewords:20 }}</p>
                    <p><strong>Price:</strong> ${{ bookmark.book.price }}</p>
                    <p><strong>Date:</strong> {{ bookmark.book.date }}</p>
                    <p><strong>Date Added:</strong> {{ bookmark.date_added }}</p>
                </div>
                <div class="card-footer">
                    <a href="{{ bookmark.book.get_absolute_url }}" class="btn btn-primary">View details</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No bookmarks found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

