{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ book.title }} - Book Details
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'books/css/book_detail.css' %}">

<section class="book-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="card-title">{{ book.title }}</h2>
                        <h4>Author: <a href="#">{{ book.author }}</a></h4>
                        <p><strong>Description:</strong> {{ book.description }}</p>
                        <p><strong>Price:</strong> ${{ book.price }}</p>

                        {% if book.pdf_file %}
                        <!-- Кнопка для открытия PDF в новой вкладке -->
                        <a href="{% url 'books:view_pdf_in_new_tab' book.id %}" class="btn btn-primary" target="_blank">
                            Open PDF in New Tab
                        </a>
                        {% else %}
                        <p>PDF file for this book is not available.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
