{% extends 'base.html' %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}


<!-- Why Choose Us Section -->
<section class="page-info">
    <div class="container">
        <h2>Why Choose Us?</h2>
        <ul>
            <li>📚 A curated collection of books across various genres</li>
            <li>📖 Handpicked recommendations tailored to your preferences</li>
            <li>🎁 Exclusive offers and discounts for our registered users</li>
            <li>🔍 Easy-to-use search feature to help you find exactly what you're looking for</li>
        </ul>
        <p>Explore our <a href="{% url 'books:book_list' %}" style="color: #6d4c41; text-decoration: underline; font-weight: bold;">Book Collection</a> and uncover the perfect book for your next reading adventure.</p>
    </div>

        <!-- Search Section -->


        
</section>

{% endblock %}
