{% extends "base.html" %}

{% block content %}


{% if query %}
<h2>Search results for: "{{ query }}"</h2>

{% if results %}
<h3>Results</h3>
<ul>
    {% for result in results %}
    {% if result.title %}
    <!-- Display book results -->
    <li>
        <a href="{% url 'book_detail' result.id %}">{{ result.title }}</a>
        (Book)
    </li>
    {% elif result.name %}
    <!-- Display author results -->
    <li>
        <a href="{% url 'author_detail' result.id %}">{{ result.name }}</a>
        (Author)
    </li>
    {% endif %}
    {% empty %}
    <li>No results found.</li>
    {% endfor %}
</ul>
{% else %}
<p>No results found.</p>
{% endif %}
{% endif %}
{% endblock %}